@import "tailwindcss";

@font-face {
  font-family: Franklin;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assests/fonts/franklin-normal-700.ttf") format("ttf");
}

@theme {
  --font-tile: "Franklin", sans-serif;
  --color-theme-yellow: #f7c71c;
  --color-theme-green: #227872;
  --color-theme-blue: #87A7DF;
  --color-theme-purple: #AE7DBA;
  --color-theme-beige: #efefe6;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  
}

