@import "tailwindcss";

@font-face {
  font-family: Franklin;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assests/fonts/franklin-normal-700.ttf") format("ttf");
}

@theme {
  --font-tile: "Franklin", sans-serif;
  --color-theme-yellow: #f9df6d;
  --color-theme-green: #a0c35a;
  --color-theme-blue: #b0c4ef;
  --color-theme-purple: #ba81c5;
  --color-theme-beige: #efefe6;
  --color-theme-selected-tile: #5a594e;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  
}

